/****** Main Styling ******/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #ECF0F1;
}

code {
	color: red;
	text-indent: 5%;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 60px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}